= render partial: 'title', locals: { user: @user }

.span3
  = render partial: 'resent', locals: { user: @user, posts: @all_posts }

.span6
  .center= paginate @posts
  %ol.posts
    - if current_user?(@user)
      = link_to 'ブログをかく', new_my_post_path
    - @posts.each do |post|
      %li
        %span.time.pull-right=l post.created_at
        %span.title= link_to post.title, [@user, post]
        %br
        %span.body= simple_format(post.body, style: "font-family: serif;")
        - post.user.buttons.each do |button|
          - puts = post.puts.where(button_id: button.id)
          .pull-right
            = link_to "#{button.kind}( #{ puts.count} )", my_button_puts_path(button, {post_id: post.id}), method: 'POST', class: 'btn btn-mini'
        - if post.user.profile.comment
          %span.comment= link_to "コメント(#{post.comments.count})", [@user, post]
  .center= paginate @posts

= render partial: 'sidebar', locals: { user: @user }
