= render partial: 'title', locals: { user: @user }
.span8.offset1
  %ol.posts
    - if current_user?(@user)
      = link_to 'ブログをかく', new_user_post_path(current_user)
    - @posts.each do |post|
      %li
        %span.time.pull-right=l post.created_at
        %span.title= link_to "#{post.title}", [@user, post]
        %br
        %span.body= simple_format post.body
        - post.user.buttons.each do |button|
          - puts = post.puts.where(button_id: button.id)
          .pull-right
            = link_to "#{button.kind}( #{ puts.count} )", user_button_puts_path(post.user, button, {post_id: post.id}), method: 'POST', class: 'btn btn-mini'
        %span.comment= link_to "コメント(#{post.comments.count})", [@user, post]

= render partial: 'sidebar', locals: { user: @user }
