%h1
  - if @user.profiles.blank?
    = "#{@user.name}さんのブログ"
  - else
    = "#{@user.profiles.first.blog_title}"
%p
  Powered by
  = image_tag '/images/sakusaku.jpeg', alt: 'akiinyo', width: 50, height: 50
  Akiinyo

- if current_user?(@user)
  %div
    = render partial: 'post_form', locals: {user: current_user, post: current_user.posts.build}
.row
  .span11
    %ol.posts
      - @posts.each do |post|
        %li
          %span.title= post.title
          %span.time= post.created_at
          %span.body= simple_format post.body
          %span.comment= link_to 'コメント', [@user, post]
