= render partial: 'title', locals: { user: @post.user }
.post.span8.offset2
  %h1
    = @post.title
  %div
    .pull-right=l @post.created_at
    %span.body= simple_format(@post.body, style: "font-family: serif;")
    - if current_user?(@post.user)
      .pull-right
        = link_to '編集', edit_user_post_path(@post.user, @post)
        = link_to '削除', [current_user, @post], method: 'DELETE', confirm: '削除しますか？'

    %br

    .buttons
      - @post.user.buttons.each do |button|
        - puts = @post.puts.where(button_id: button.id)
        .pull-right
          = link_to "#{button.kind}( #{ puts.count} )", user_button_puts_path(@post.user, button, {post_id: @post.id}), method: 'POST', class: 'btn btn-mini'

  .border

.span8.offset2
  .comments
    %h1 コメント
    %div
      - if @post.comments.empty?
        .center コメントはありません。
      - else
        %ol.comment
          - @post.comments.each do |comment|
            - next if comment.new_record?
            %li
              = comment.name
              =l comment.created_at
              - if current_user?(@post.user)
                .pull-right
                  = link_to '削除', [current_user, @post, comment], method: 'DELETE', confirm: '削除しますか？'
              %span.body= simple_format comment.body

      = form_for [@post.user, @post, @post.comments.build] do |f|
        = f.label '名前'
        = f.text_field :name

        = f.label '本文'
        = f.text_area :body

        = f.submit '投稿する', class:"btn btn-small btn-primary"
