//= render partial: 'title', locals: { user: @post.user }
.blog_title
  %h1
    - if @post.user.profile
      = "#{@post.user.profile.blog_title}"
    - else
      = "#{@post.user.name}さんのブログ"
  %p.center
    Powered by
    = image_tag '/images/sakusaku.jpeg', alt: 'akiinyo', width: 50, height: 50
    Akiinyo

.span3
  = render partial: 'resent', locals: { user: @post.user, posts: @post.user.posts }

.post.span6
  %h1= @post.title
  %div
    %span.body= simple_format(@post.body, style: "font-family: serif;")
    - if current_user?(@post.user)
      .pull-right
        = link_to '編集', edit_my_post_path(@post)
        = link_to '削除', [current_user, @post], method: 'DELETE', confirm: '削除しますか？'

    %br

    .buttons
      - @post.user.buttons.each do |button|
        - puts = @post.puts.where(button_id: button.id)
        .pull-left=l @post.created_at
        .pull-right= link_to "#{button.kind}( #{ puts.count} )", my_button_puts_path(button, {post_id: @post.id}), method: 'POST', class: 'btn btn-mini'

  .border

  %ul
    %li.prev= link_to "<<#{@post.previous.title.truncate(10, omission: '…')}", user_post_path(@post.user, @post.previous) if @post.previous
    %li.list= link_to '一覧に戻る', user_posts_path(@post.user)
    %li.next= link_to "#{@post.next.title.truncate(10, omission: '…')}>>", user_post_path(@post.user, @post.next) if @post.next

= render partial: 'sidebar', locals: { user: @post.user }

- if @post.user.profile.comment
  .comments
    %h1 コメント
    %div
      - if @post.comments.empty?
        .center コメントはありません。
      - else
        %ol.comment
          - @post.comments.each do |comment|
            - next if comment.new_record?
            %li
              = comment.name
              =l comment.created_at
              - if current_user?(@post.user)
                .pull-right
                  = link_to '削除', [current_user, @post, comment], method: 'DELETE', confirm: '削除しますか？'
              %span.body= simple_format comment.body

      = form_for [@post.user, @post, @post.comments.build] do |f|
        = f.label '名前'
        = f.text_field :name

        = f.label '本文'
        = f.text_area :body

        = f.submit '投稿する', class:"btn btn-small btn-primary"
