- if current_user?(@user)
  .profile
    %h1 設定

    .span8.offset2

      = form_for @user.profile || @user.build_profile, url: user_profile_path(current_user) do |f|
        = f.label 'ブログ名'
        = f.text_field :blog_title

        = f.label '紹介文'
        = f.text_area :message

        = f.submit "登録する", class: "btn btn-small btn-primary"
- else
  .center= link_to 'マイページ', user_path(current_user), class: 'btn btn-large btn-primary'
