%h1 設定

.span8.offset2

  .pull-right
    プロフィール画像の設定
    %a{href: 'http://gravatar.com/emails', target: "_blank" }Gravatar

  = form_for [current_user, @user.build_profile] do |f|
    = f.label 'ブログ名'
    = f.text_field :blog_title

    = f.label '紹介文'
    = f.text_area :message

    = f.submit "登録する", class: "btn btn-small btn-primary"

