.span6.offset3
  .buttons
    %h1 ボタン設置

    - current_user.buttons.each do |button|
      %li
        .pull-right
          = link_to '編集', edit_my_button_path(button)
          = link_to '削除', my_button_path(button), method: 'DELETE', confirm: '削除しますか？'
        %span= button.kind

  = form_for [:my, @button] do |f|
    = f.label 'ボタン名'
    = f.text_field :kind
    = f.submit "登録する", class: "btn btn-small btn-primary"
