.my_page
  = render partial: 'my/header'
  = render partial: 'my/nav'

  .span6.my_profile
    %h2 ブログ設定
    = form_for current_user.profile || current_user.build_profile, url: my_profile_path do |f|
      = f.label 'ブログ名'
      = f.text_field :blog_title

      = f.label '紹介文'
      = f.text_area :message

      .checkbox
        = f.check_box :comment
        = f.label :comment, 'コメントを受け付ける'

      = f.submit "登録する", class: "btn btn-small btn-primary"
