%h1 ログイン

= form_tag sessions_path do
  = label_tag 'メールアドレス'
  = text_field_tag :email

  = label_tag 'パスワード'
  = password_field_tag :password

  = submit_tag 'ログイン', class:"btn btn-small btn-primary"
