- if current_user?(@user)
  %h1
    = @user.name

  %div.span8.offset2
    = link_to 'ブログをかく', new_user_post_path(current_user), class: 'btn btn-large btn-primary'
    - if @user.profile
      = link_to 'ブログ設定', edit_user_profile_path(current_user), class: 'btn btn-large btn-primary'
    - else
      = link_to 'ブログ設定', new_user_profile_path(current_user), class: 'btn btn-large btn-primary'
    = link_to 'ボタン設置', user_buttons_path(current_user), class: 'btn btn-large btn-primary'
- else
  .center= link_to 'マイページ', user_path(current_user), class: 'btn btn-large btn-primary'
