- if current_user?(@user)
  .span6.offset3
    .buttons
      %h1 ボタン設置

      - @user.buttons.each do |button|
        %li
          .pull-right
            = link_to '編集', edit_user_button_path(@user, button)
            = link_to '削除', user_button_path(@user, button), method: 'DELETE', confirm: '削除しますか？'
          %span= button.kind

    = form_for [@user, @button] do |f|
      = f.label 'ボタン名'
      = f.text_field :kind
      = f.submit "登録する", class: "btn btn-small btn-primary"
- else
  .center= link_to 'マイページ', user_path(current_user), class: 'btn-large brn-primary'
