.my_nav.span2.offset2
  %ul
    %li= link_to '記事一覧', my_path
    %li= link_to 'コメント一覧', my_comments_path
    %li= link_to 'ブログを見る', user_posts_path(current_user)
    %li= link_to 'ブログ設定', new_my_profile_path
    %li= link_to 'ボタン設置', my_buttons_path
