%header.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      %ul.nav.pull-right
        - if signed_in?
          %li= link_to 'ログアウト', signout_path, method: 'delete'
          %li= link_to 'ブログトップ', user_posts_path(current_user)
          %li= link_to 'マイページ', user_path(current_user)
        - else
          %li= link_to 'Akiinyoブログ', root_path
          %li= link_to 'ログイン', signin_path
          %li= link_to 'Twitterでログイン', "/auth/twitter"
